body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.first {
    margin-top: 20px;
    margin-bottom: 15px;
}

.header {
    margin-left: 130px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #36566ac8;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-input {
    border-radius: 10px;
    border: 1px solid #373839;
}

#sort-by-price {
    border-radius: 20px;
    margin-right: 10px;
}

#sort-by-brand {
    border-radius: 20px;
    margin-right: 10px;
}

#search-input {
    width: 265px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
}

#search-button {
    border-radius: 20px;
    margin-right: 5px;
}

#cancel-search-button {
    border-radius: 20px;
}

#phones-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phone-item {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.phone-item img {
    max-width: 100%;
    height: auto;
}

#total-price {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#total-amount {
    font-weight: bold;
}

#open-create-modal-button {
    border-radius: 20px;
    margin-right: 10px;
}

#open-edit-modal-button {
    border-radius: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

form {
    text-align: center;
    background-color: #e9e9eb;
}

form label {
    display: block;
    margin: 10px 0;
}

form input[type="text"],
form input[type="number"],
form input[type="url"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#create-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #36566ac8;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.edit-button,
.delete-button {
    border-radius: 20px;
    display: none;
}

#save-edit-button {
    margin-bottom: 10px;
}

#confirm-delete-button,
#cancel-delete-button {
    border-radius: 20px;
    margin-bottom: 10px;
}

#save-edit-button {
    border-radius: 20px;
}

.show-buttons {
    display: inline-block !important;
}

.hide-buttons {
    display: none !important;
}
